* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(244, 236, 236);
  }
  
  .signin-wrap {
    width: 400px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 30px;
  }
  
  .signin-top {
    padding: 40px 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-transform: inpercase;
    font-weight: 600;
    text-align: center;
    color: #000203;
    padding-bottom: 40px;
  }
  
  .input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .input-wrap-center {
    display: flex;
    align-items: relative;
    margin-bottom: 32px;
    flex-direction: column;
  }
  
  p {
    font-size: 13px;
    color: #4e585f;
  }
  
  span {
    color: #3a99d0;
    cursor: pointer;
  }
  
  input {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #e4f0f6;
    transition: 500ms ease all;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #88d9fc;
    border-color: #88d9fc;
  }
  
  
  button {
      cursor: pointer;
      padding: 15px 60px;
      border-radius: 30px;
      font-weight: 600;
      border: none;
      color: #fff;
      background-color: #3a99d0;
      margin-right: 16px;
      transition: 500ms ease all;
  }
  
  button:hover {
      background-color: #1f6b97;
      transform: scale(0.98);
  }
  
  .signin-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #00b0f3;
      color: #fff;
      padding: 60px 40px 40px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
  }
  
  h3 {
      font-weight: 600;
      font-size: 13px;
  }
  
  ul {
      display: flex;
      margin-top: 16px;
      list-style: none;
  }
  
  li {
      margin-right: 40px;
      font-size: 24px;
      cursor: pointer;
  }
  
  li:last-child {
      margin-right: 0;
  }
  
  i {
      transition: 500ms ease all;
  }
  
  i:hover {
      color: #4e585f;
  }
  
  